<footer class="Footer u-padding-y-16">
    <div class="margin">
        <div class="logo">
            <img src="../../../assets/images/logo_dorado.png" alt="">
            <p>DIVISION DE INVESTIGACIONES DE ALTA COMPLEJIDAD</p>
        </div>
        <div class="info">
            <ul>
                <li>
                    <span>CEOPOL:</span> 964596923
                </li>
                <li>
                    <span>DIRECCION:</span> AV. PEDRO VENTURO N° 403 - SANTIAGO DE SURCO
                </li>
                <li>
                    <span>CORREO:</span> diviac.seguridad@policia.gob.pe
                </li>
            </ul>
        </div>
    </div>
</footer>