<div class="Panel">
    <div class="Panel__title u-padding-16">
        <img width="50px" class="u-margin-r-16" src="../../../assets/images/logo.png" alt="">
        <h3 class="u-font-bold u-color-white u-fz-20">DIVIAC</h3>
    </div>
    <div class="devider"></div>
    <div class="Panel__content u-padding-y-16">
        <div class="Content__item u-padding-y-16">
            <h4 class="u-color-gray u-fz-16 u-font-semibold u-padding-x-8 u-margin-b-16">Administración</h4>
            <ul>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">División</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/efectivo" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">Efectivo</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="Content__item u-padding-y-16">
            <h4 class="u-color-gray u-fz-16 u-font-semibold u-padding-x-8 u-margin-b-16">Análisis</h4>
            <ul>
                <li>
                    <a href="" routerLinkActive="active" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">Persona</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href=""
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">Organización Criminal</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href=""
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">Documento</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href=""
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">Caso Ejecutado</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href=""
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">Delito Común</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href=""
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">Investigación</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href=""
                        class="u-padding-y-8 u-padding-r-8 u-padding-l-16 u-color-black-3 u-fz-14 u-font-regular">
                        <span class="u-font-regular">Busquedas</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>