<div class="Closed-sources">
    <div class="Closed-sources__ptic u-padding-y-56">
        <div class="margin">
            <div class="PTIC__title u-margin-b-48">
                <p class="u-font-light u-fz-32">FUENTES CERRADAS</p>
            </div>
            <div class="PTIC__list">
                <a class="PTIC__item" href="https://sinpol.pnp.gob.pe/esinpol/" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Sistema - ESINPOL</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/esinpol.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://denuncias.pnp.gob.pe/Dirincri/login.aspx?AspxAutoDetectCookieSupport=1" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Sistema - SIRDIC</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/sirdic.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://sistemas.policia.gob.pe/denuncias/Login.aspx?AspxAutoDetectCookieSupport=1" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Sistema - SIDPOL</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/sidpol.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://sigcpd.policia.gob.pe/sigcp/login.aspx" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Aguila 6</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/aguila6.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://intranet.pnp.gob.pe/usuariosintranet/acceso3.aspx?ReturnUrl=%2fusuariosintranet" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Aguila 6 - Cambio de clave</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/cambio_clave.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://correo.policia.gob.pe/owa/auth/logon.aspx?url=https%3a%2f%2fcorreo.policia.gob.pe%2fowa%2f&reason=0" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Correo Institucional - PNP</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/C_INT.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://web.policia.gob.pe/direcfin/planillavirtual/login.aspx" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Planilla Virtual</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/planilla_virtual.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://sel.migraciones.gob.pe/SSEL/Acceso?AspxAutoDetectCookieSupport=1" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Mininter Migraciones</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/MIGRACIONES.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://aplicaciones.mininter.gob.pe/sige/" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Miniter Sige</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/SIGE.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://www.sucamec.gob.pe/sel/faces/login.xhtml?faces-redirect=true" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Mininter - Sucamec</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/SUCAMEC.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://sistemas.mpfn.gob.pe/index.php" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Ministerio público - Renadespple</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/MINIPUBLICO.jpg" alt="">
                    </div>
                </a>
                <a class="PTIC__item" href="https://cel.reniec.gob.pe/celweb/index.html" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Reniec - Consultas</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/RENIEC.jpg" alt="">
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="Closed-sources__download u-padding-y-56">
        <div class="margin">
            <div class="Download__title u-margin-b-48">
                <p class="u-font-light u-fz-32">Descargas Frecuentes</p>
            </div>
            <div class="Download__list">
                <div class="Download__item">
                    <a href="https://dirincri.pnp.gob.pe/documentos/PRONTUARIO_2020.pdf" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/pdf_icon.png" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Prontuario DIRINCRI</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a href="https://dirincri.pnp.gob.pe/documentos/DIRECTORIO-DIVINCRI.pdf" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/pdf_icon.png" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Directorio Telefónico PNP</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a href="https://dirincri.pnp.gob.pe/documentos/PRONTUARIO-JEFDRDIC-2019.pdf" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/pdf_icon.png" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">PRONTUARIO JEFDRDIC</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a href="https://telefonia.pnp.gob.pe/Directorio_Telefonico_PNP/" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/link_icon.jpg" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Prontuario Comisarias</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a
                        href="javascript:window.open('https://portal.mpfn.gob.pe/renadespple/nacional/','','toolbar=yes');void 0">
                        <div class="Item__image">
                            <img src="../../../assets/images/link_icon.jpg" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Visualización de Detenidos</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a href="https://dirincri.pnp.gob.pe/Archivos/UbicacionInternos.rar" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/zip_icon.png" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Aplicativo INPE</p>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="Closed-sources__testimonials u-padding-y-56">
        <div class="margin">
            <div class="Testimonials__title u-margin-b-48">
                <p class="u-font-light u-fz-32">Testimonios</p>
            </div>
            <div class="Testimonials__list">
                <div class="Testimonials__item">
                    <div class="Item__wrapper">
                        <div class="Item__author">
                            <img src="../../../assets/images/user_icon.jpg" alt="">
                            <p class="u-font-semibold u-fz-14">Juan Carlos - Sotil Toledo</p>
                        </div>
                        <div class="Item__text">
                            <p>"La DIRINCRI renueva su compromiso de continuar trabajando con honor y sacrificio,
                                maximizando esfuerzos para mejorar el servicio que brindamos a la ciudadanía"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Testimonials__item">
                    <div class="Item__wrapper">
                        <div class="Item__author">
                            <img src="../../../assets/images/user_icon.jpg" alt="">
                            <p class="u-font-semibold u-fz-14">Anonimo</p>
                        </div>
                        <div class="Item__text">
                            <p>"Existen pocas armas en el mundo que son tan poderosas como una niña con un libro en la
                                mano"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Testimonials__item">
                    <div class="Item__wrapper">
                        <div class="Item__author">
                            <img src="../../../assets/images/user_icon.jpg" alt="">
                            <p class="u-font-semibold u-fz-14">El Policia</p>
                        </div>
                        <div class="Item__text">
                            <p>"La Grandeza de tu poder no esta en el uniforme que portas sino en el trato que brindas"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>