<header class="Header u-bg-black-2 u-padding-y-16">
    <div class="margin">
        <a href="" class="Header__logo">
            <img class="u-margin-r-16" src="../../../assets/images/logo.png" alt="">
            <p class="u-fz-16 u-font-bold u-color-white">DIVIAC - PNP</p>
        </a>
        <div class="Header__nav u-padding-y-8">
            <ul>
                <li>
                    <a class="u-fz-16 u-font-bold u-padding-x-24 u-padding-y-16" [routerLink]="['/']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
                </li>
                <li>
                    <a class="u-fz-16 u-font-bold u-padding-x-24 u-padding-y-16" [routerLink]="['/fuentes-cerrada']"
                        [routerLinkActive]="['active']">Fuentes Cerrada</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</header>